@model List<ResultDealerDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Firma  İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Firma Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Firma ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Firma Adı</th>
									<th scope="col">Firma Sahibi</th>
									<th scope="col">Firma Adresi</th>
									<th scope="col">Firma Şehri</th>
									<th scope="col">Firma İlçesi</th>
									<th scope="col">Telefon Numarası</th>
									<th scope="col">Kategori Adı</th>
			
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.DealerID</td>
										<td>@item.DealerName</td>
										<td>@item.DealerOwner</td>
										<td>@item.DealerAddress</td>
										<td>@item.DealerCity</td>
										<td>@item.DealerDistrict</td>
										<td>@item.Phone</td>
										<td>@item.CategoryName</td>
										<td><a href="/Dealer/DeleteDealer/@item.DealerID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Dealer/UpdateDealer/@item.DealerID" class="btn btn-outline-success">Güncelle</a></td>

									</tr>
								}


							</tbody>
						</table>
						<a href="/Dealer/CreateDealer/" class="btn btn-outline-primary">Yeni Firma Girişi</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

